{% extends 'base.html' %}
{% block title %}index{% endblock %}

{% block content %}
<div class="row">
    <div>





        <div class="" style="display: inline-block; padding: 0px;">
            <div style="margin-right: 30px; border-right: 1px solid #33404E; padding-right: 30px;">
                <form>
                    <div class="t3-module module">
                        <div class="module-inner">
                            <h3 class="module-title">
                                <span>검색 옵션</span>
                            </h3>
                            <div class="module-ct">
                                <form action="" method="get">
                                    <div class="vm-order-list">
                                        <div class="orderlistcontainer">
                                            <div class="title" style="text-align:left">지역</div>
                                            <div class style="text-align:center">
                                                <select name="region" id="region" class="form-control search_type selected">
                                                    <option>::: 지역 선택 :::</option>
                                                    {% for region in regions %}
                                                    <option value="{{ region.value }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="orderlistcontainer">
                                            <div class="title" style="text-align:left">극장</div>
                                            <div class style="text-align:center">
                                                <select name="cinema" id="cinema" class="form-control search_type">
                                                    <option value>::: 극장 선택 :::</option>
                                                    {% for cinema in cinemas %}
                                                    <option value="{{ cinema.value }}">{{ cinema.cinema_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="orderlistcontainer">
                                            <div class="title" style="text-align:left">영화</div>
                                            <div class>
                                                <select name="movie" id="movie" class="form-control search_type">
                                                    <option value>::: 영화 선택 :::</option>
                                                    {% for movie in movies %}
                                                    <option value="{{ movie.value }}">{{ movie.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="orderlistcontainer">
                                            <div class="title" style="text-align:left">날짜</div>
                                            <div class>
                                                <input type="date" name="date" id="dateinput" >
                                            </div>
                                        </div>
                                        <div class="orderlistcontainer">
                                            <div class="title" style="text-align:left">시간</div>
                                            <div class>
                                                <select name="time" id="time" class="form-control">
                                                    <option value>::: 시간 선택 :::</option>
                                                    <option value="0000">0시</option>
                                                    <option value="0100">1시</option>
                                                    <option value="0200">2시</option>
                                                    <option value="0300">3시</option>
                                                    <option value="0400">4시</option>
                                                    <option value="500">5시</option>
                                                    <option value="0600">6시</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-block btn-info" type="submit">검색하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div id="main_contents" style="float: right;">
            {% if selected_region %}
                {{ selected_region }}
                {% if selected_cinema %}
                    {{ selected_cinema }}
                {% endif %}

            {% else %}
                <p>none</p>
            {% endif %}
        </div>

<!--        <div>-->
<!--            {{ schedule_date }}-->
<!--                {{ schedule_time }}-->
<!--                {{ movies }}-->
<!--        </div>-->
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script>

</script>
{% endblock %}
